/* 
font-family: 'Noto Sans', sans-serif;
    400 && 700
font-family: 'PT Sans', sans-serif;
    400 && 700
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --mainColor: #dcdfe6;
    --secondaryColor: #002FFF;
    --outerNeomorph: 5px 5px 9px rgb(99, 99, 99), -5px -5px 9px white;
    --innerNeomorph: inset -5px -5px 9px white, inset 5px 5px 9px rgb(99, 99, 99);
    --titleFont: 'PT Sans', sans-serif;
    --textFont: 'Noto Sans', sans-serif;
}
html{
    font-size: 62.5%;
    background-color: var(--mainColor);
}
main{
    min-height: 100vh;
}
header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 12px 0;

    background-color: var(--mainColor);
}
.header-div{
    margin: 0 10px;

    font-family: var(--titleFont);
    font-weight: 400;
    font-size: 2.1rem;
}
.header-div span{
    font-weight: 700;
}
.header-button{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 32px;
    height: 32px;
    margin: 0 10px;

    border: 1px solid var(--mainColor);
    background-color: transparent;
}
.header-button div{
    width: 90%;
    height: 5px;

    background-color: var(--secondaryColor);
    border-radius: 25px;
    transition: 0.4seg;
}
.header-nav{
    display: none;
}
.header__float-nav{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    top: 90%;
    right: 10px;
    width: 50%;
    height: auto;
    padding: 10px;

    font-family: var(--textFont);
    font-weight: 700;
    font-size: 1.5rem;

    background-color: var(--mainColor);
    border-radius: 20px;
    box-shadow: var(--outerNeomorph);

    z-index: 2;
}
.header__float-nav a{
    display: flex;
    align-items: center;
    margin: 15px 0;
    text-decoration: none;
}
.header__float-nav a span{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 10px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* border: 1px solid; */
}
.home-icon{
    background-image: url('./assets/icons/home.svg');
}
.blog-icon{
    background-image: url('./assets/icons/writing.svg');
}
.portfolio-icon{
    background-image: url('./assets/icons/briefcase.svg');
}
.contact-icon{
    background-image: url('./assets/icons/letter.svg');
}
main{
    width: 100%;
    height: auto;

    background-color: var(--mainColor);
}
.main__title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 220px;

    /* border: 1px solid; */
}
.main__title-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./assets/images/avatar.jpg');

    border-radius: 100%;
    box-shadow: var(--outerNeomorph);
}
.main__content{
    width: 100%;
    min-width: 320px;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    padding: 15px;

    font-family: var(--textFont);

    /* border: 1px solid var(--secondaryColor); */
}
.main__content article h2{
    font-size: 3rem;
    font-weight: 700;

    margin-bottom: 5px;
}
.main__content article{
    margin: 25px 0;
}
.main__content article p{
    font-size: 1.6rem;
    font-weight: 400;
    /* line-height: 2.5rem; */
}
.whoAmI__passions{
    width: 100%;
    height: auto;
    margin: 10px 0;

    text-align: center;
}
.whoAmI__passions ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;

    box-shadow: var(--outerNeomorph);
    border-radius: 15px;
}
.whoAmI__passions ul li{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 5px 0;
    padding: 4px;

    font-family: var(--titleFont);
    font-size: 1.3rem;
    list-style: none;
}
.whoAmI__passions ul li span{
    display: inline-block;
    width: 60px;
    height: 60px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    box-shadow: var(--innerNeomorph);
    border-radius: 100%;
}
.physics{
    background-image: url('./assets/icons/atom\ \(1\).svg');
}
.astrology{
    background-image: url('./assets/icons/astrology.svg');
}
.robotics{
    background-image: url('./assets/icons/robotic-arm.svg');
}
.ai{
    background-image: url('./assets/icons/ai.svg');
}
.chart__conteiner{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: auto;
    padding: 15px;
    margin: 0 auto;

    font-family: var(--titleFont);
    font-size: 1.5rem;
}
.chart__conteiner span{
    font-size: 1.1rem;
}
.chart__conteiner div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 260px;
    max-width: 390px;
    height: 50px;
    padding: 5px;
    margin: 10px 0;

    border-radius: 15px;
    /* border: 3px solid #edf0f8; */
    box-shadow: var(--outerNeomorph);
}
.chart__conteiner div span{
    display: inline-flex;
    align-items: center;
    height: 90%;
    margin-right: 15px;

    font-family: var(--titleFont);
    font-size: 2rem;

    border-radius: 15px;
}
.chart__conteiner div span:nth-child(1){
    background-color: var(--secondaryColor);
}
.chartBar1{
    width: 75%;
}
.chartBar2{
    width: 17.5%;
}
.chartBar3{
    width: 7.5%;
}
.whatIDo{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 20px;
    width: 90%;
    min-width: 288px;
    max-width: 500px;
    height: 270px;
    margin: 15px auto 5px auto;

    /* border: 1px solid var(--secondaryColor); */
}
.whatIDo div{
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: var(--outerNeomorph);
    border-radius: 15px;

    font-family: var(--titleFont);
    font-weight: 400;
    font-size: 1.5rem;
}
.whatIDo div span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.html{
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 2;
}
#html{
    background-image: url('./assets/icons/html.svg');
}
.js{
    grid-column-start: 2;
    grid-column-end: 3;
    
    grid-row-start: 1;
    grid-row-end: 3;
}
#js{
    background-image: url('./assets/icons/js.svg');
}
.css{
    grid-column-start: 1;
    grid-column-end: 2;
    
    grid-row-start: 2;
    grid-row-end: 3;
}
#css{
    background-image: url('./assets/icons/css-3.svg');
}
.goalsContainer{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    min-width: 290px;
    max-width: 520px;
    height: auto;
    padding: 10px;
    margin: 9px auto;
}
.goalsContainer article{
    flex: 0 0 auto;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 210px;
    height: 200px;
    margin: 0 10px;
    padding: 30px;

    font-family: var(--textFont);
    font-weight: 400;
    font-size: 1.6rem;
    white-space: initial;

    box-shadow: var(--outerNeomorph);
    border-radius: 15px;
}
.goalsContainer article span{
    width: 60px;
    height: 60px;
    margin: 10px 0;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 100%;
    box-shadow: var(--innerNeomorph);
}
.goalAi{
    background-image: url('./assets/icons/ai.svg');
}
.goalDb{
    background-image: url('./assets/icons/database.svg');
}
.goalFullstack{
    background-image: url('./assets/icons/code.svg');
}
.goalDScience{
    background-image: url('./assets/icons/data.svg');
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100px;
    margin: 15px auto;
    padding-top: 30px;

    font-family: var(--titleFont);
    font-weight: 400;
    font-size: 1.6rem;

    border-top: 2px solid;
}
.footerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    margin: 15px 0;

    /* border: 1px solid var(--secondaryColor); */
}
.footerContainer a{
    width: 40px;
    height: 40px;
    margin: 0 15px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 100%;
    box-shadow: var(--innerNeomorph);
}
.twitter{
    background-image: url('./assets/icons/twitter.svg');
}
.github{
    background-image: url('./assets/icons/github-big-logo.svg');
}